.landing {
    margin: 7rem auto 3rem;
    max-width: 460px;
    max-width: fit-content;
}
.landing .info {
    margin: auto;
}
.landing .info h1 {
    font-size: 3.4rem;
    text-align: center;
}
.landing .info p {
    text-align: center;
    max-width: 500px;
    margin: 1.4rem 0;
    color: #222;
}
.landing .contact-btns{
    display: flex
    ;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 1rem 0;
    
}
.landing .contact-btns a {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
}
.landing .contact-btns button  {
    cursor: pointer;
    display: flex
    ;
    align-items: center;
    gap: 5px;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    transition: 0.2s;
}
.landing .contact-btns button.contact{
    background-color: #111827;
    color: #eee;

}
.landing .contact-btns button.cv{
    border: 1px solid #ddd;
}
.landing .contact-btns button  img {
    width: 20px;
}
.landing .contact-btns a img {
    width: 100%;
}
.landing .contact-btns a:hover {
    scale: 1.1;
}
@media (max-width:400px){
    .landing .info h1 {
        font-size: 3rem;
    }
}